.detailedView {
    width: 80vw;
}

.detailTitle {
    margin-block-end: -.3em;
}

.heroImage {
    width: 70vw
}

.closeButton {
    border: none;
}

.buttonContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}