.sideNav {
    padding-left: 20px;
    width: 10vw; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: left;
    border-right: 1px solid black;
}

.homeLink {
    font-size: 2em;

}

.sectionLink {
    width: 100%;
    color: black;

}