.App {
  text-align: center;
}

.pageTitle {
  font-family: 'ChomskyRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  margin-block-end: -1rem;
}

.mainContent {
  display: flex;
}